<h1>Por país</h1>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="on" (ngSubmit)="buscar()">
            <input type="text" class="form-control" name="termino" placeholder="Buscar país..." [(ngModel)]="termino">
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paises; let i = index;">
                    <td>
                        {{ i }}
                    </td>
                    <td>
                        <img class="small-flag" [src]="item.flags.png">
                    </td>
                    <td>
                        {{ item.name.common }}
                    </td>
                    <td>
                        {{ item.population | number }}
                    </td>
                    <td>
                        <a [routerLink]="['/pais', item.alpha2Code]">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>