<h1>Por país</h1>
<hr>

<div class="row">
    <div class="col">
        <app-input (emitRespuestaServise)="respuestaService($event)" 
                   (emitError)="respuestaError($event)"
                   (onDebounce)="sugerencias($event)"
                   [nameComponent]="componente"
                   placeholder="Buscar por país...">
        </app-input>
    </div>
</div>

<!-- <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let item of paisesSugeridos">
        <a class="nav-link" [routerLink]="['/pais', item.name.common]">{{ item.name.common }}</a>
    </li>
</ul> -->

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-table [paises]="paises"></app-table>
    </div>
</div>