<h1>Por capital</h1>
<hr>

<div class="row">
    <div class="col">
        <app-input (emitRespuestaServise)="respuestaService($event)"
                   (emitError)="respuestaError($event)"
                   [nameComponent]="componente"
                   placeholder="Buscar por capital...">
        </app-input>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-table [paises]="paises"></app-table>
    </div>
</div>
