<h3>Buscar por región <small>{{ regionActiva | titlecase }}</small></h3>

<h5>Seleccione la región</h5>

<div class="row">
    <div class="col">
        <!-- [ngClass]="{'btn btn-primary': region === regionActiva, 'btn btn-outline-primary': region !== regionActiva}" -->
        <!-- [class]="(region === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
        <button *ngFor="let region of regiones"
                [class]="getClaseCSS(region)"
                (click)="activarRegion(region)">
            {{ region | titlecase }}
        </button>
    </div>
</div>

<!--<h1>Por región</h1>
<hr>

<div class="row">
    <div class="col">
        <app-input (emitRespuestaServise)="respuestaService($event)"
                   (emitError)="respuestaError($event)"
                   [nameComponent]="componente"
                   placeholder="Buscar por región...">
        </app-input>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-table [paises]="paises"></app-table>
    </div>
</div> -->
